*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}   
body{
    background-image:  linear-gradient(to left, rgb(91, 187, 250) , rgb(170, 212, 195));
}
#header{
    border: 2px solid black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 19px;
    display: flex;
    column-gap: 60%;
    background-color: cornflowerblue;
}
#mainContainer{
    padding: 30px;
    position:absolute;
    top: 16%;
    width: 100%;
}
#QuestionCounts,#timer{
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#timer{
    position: relative;
    left: 48%;
}
#timerCounter{
    border: 1px solid black;
    display: flex;
    background-color: white;
    padding-right: 15px;
}
#wrapper{
    background-color: cornflowerblue;
    position: relative;
    left: 28%;
    top: 20%;
    width: 40%;
    padding: 12px;
}
#options{
    background-color: white;
    border: 1px solid black;
}
#questionHead{
    background-color: white;
    border: 3px solid rgb(65, 67, 68);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.active {
    background-color: cornflowerblue;
}
#optionns, p{
    border: 1px solid black;
    font-size: 1.2em;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
}
#options >p:hover{
    background-color: cornflowerblue;
}

#nextbtn{
    position: relative;
    cursor: pointer;
    left: 78%;
    padding: 6px;
    margin: 7px;
    font-size: 1.3em;
    background-color: cornflowerblue;
    border: 2px solid white;
    border-radius: 8px;
}
.anchorTage{
    display: none;
}

/* -------FOR MOBILE DEVICES------------------- */
@media screen and (min-width:250px) and (max-width:480px){
    #mainContainer{
        padding: 10px;
    }
    #timer{
        left:15%;
    }
    #wrapper{
        left: 2%;
        top: 15%;
        width: 95%;
    }
    #questionHead{
        font-size: 0.9em;
        padding: 15px;
    }
    #optionns, p{
        font-size: 0.9em;
    }
    
    button{
        left: 70%;
    }
    
    
 }
 /* --------for tablet devices------ */
 @media screen and (min-width:481px) and (max-width:768px){
    #mainContainer{
        padding: 10px;
    }
    #timer{
        left:27%;
    }
    #wrapper{
        left:14%;
        width: 75%;
    }
    #questionHead{
        font-size: 1.2em;
        padding: 15px;
    }
    #optionns, p{
        font-size: 1.2em;
    }
    
    button{
        left: 70%;
    } 
 }
 @media screen and (min-width:769px) and (max-width:1100px){
 
    #mainContainer{
        padding: 10px;
    }
    #timer{
        left:35%;
    }
    #wrapper{
        left:20%;
        width: 50%;
    }
    #questionHead{
        font-size: 1.2em;
        padding: 15px;
    }
    #optionns, p{
        font-size: 1.2em;
    }
    
    button{
        left: 70%;
    } 
 }